%html
	%head
		%title Sumit Kapoor
		%link{:rel => "stylesheet", :href => "bootstrap/css/bootstrap.min.css"}
		%link{:rel => "stylesheet", :href => "styles/index.css"}
		%link{:rel => "stylesheet", :href => "font-awesome/css/font-awesome.min.css"}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}


	%body
		.body-class
			.container{:style => "background-color: #DFE4E8; border-top: 8px solid #396693; box-shadow: 0px 1px 0px #BCC0C4;"}
				.row
					.col-md-6
						%h1{:style => "color: #556; line-height: 2em;"} Sumit Kapoor
					.col-md-6{:style => "text-align: right; padding-top: 10px;"}
						%span{:style => "margin-top: 20px;"} Download my resume
						%span.fa.fa-cloud-download{:style => "font-size: 1.7em; color: #525D63"}
				.row{:style => "margin-bottom: 40px;"}
					.col-md-7{:style => "border-right: 1px solid #d1d1d1; box-shadow: 1px 0px 0px #fff;"}
						.row
							.col-md-3
								%img{:src => "images/profile.jpg", :width => "120px", :height => "120px", :style => "border-radius: 5px"}
							.col-md-9
								%h3{:style => "color: #707070; margin-bottom: 10px; margin-top: 0px; padding: 0px; font-size: 1.3em"} Full-Stack Developer
								%p{:style => "color: #757575; font-size: 0.85em; text-shadow: 0px 1px 1px #fff;"}
									More than 8 years of experience in development, design, leading and implementing of a variety of performance critical applications that includes standalone as well as web-based applications with Java and Web Technologies.
					.col-md-5
						.row.contact
							.col-md-1
							.col-md-4
								%p.fa.fa-phone 987.117.6670
							.col-md-7
								%p.fa.fa-globe www.kapour.in
						.row.contact
							.col-md-1
							.col-md-4
								%p.fa.fa-map-marker New Delhi
							.col-md-7
								%p.fa.fa-envelope-o sumit@kapour.in
			.container
				%h4 Work Experience
				.row
					.col-md-6.jobCard
						.row
							.col-md-6
								%h5 Agnity
							.col-md-6
								.date March 2013 - Present
						.row
							.col-md-12
								.job-title Technical Lead
								%p
									In Agnity I have been working on the web technologies. I completed two projects in JavaScript and HTML5. Updated AppSuite mail application as per customer requirements. Currently I have been working on a billing application, which is in Ruby on Rails technology.

					.col-md-6.jobCard
						.row
							.col-md-6
								%h5 Seimens 
							.col-md-6
								.date Jul 2011 - Jan 2013
						.row
							.col-md-12
								.job-title Senior Java Developer
								%p
									Worked on company product - EnergyIP. I worked in customisation team who's responsibility was to customise the product as per customer needs. It was purely a backend product which is used by Electricity/Water distribution companies.

				.row
					.col-md-6.jobCard
						.row
							.col-md-6
								%h5 Itaas Inc. 
							.col-md-6
								.date Feb 2010 - Jul 2011
						.row
							.col-md-12
								.job-title Technical Lead
								%p
									Worked on front end applications. Developed applications for Set-top Boxes, iPad and Smart TVs. Developed customer facing applications for various devices through which customer could navigate TV program guides, Watch movies and other social site integrations.
					.col-md-6.jobCard
						.row
							.col-md-6
								%h5 Dell
							.col-md-6
								.date Jul 2005 - Nov 2009
						.row
							.col-md-12
								.job-title Technical Lead
								%p
									In Dell most of the time I worked for Bank of Ireland. I was part of the team who changed Bank’s website to a new refreshing website. I also worked with Houghton Mifflin Harcourt client where I worked on front end of the application.


			.container{:style => "margin-top: 40px"}
				.row
					.col-md-6
						%h4 Backend Skills
						.skill-level
							.level{:style => "width: 90%"} Core Java
						.skill-level
							.level{:style => "width: 90%"} Multithreading
						.skill-level
							.level{:style => "width: 70%"} Spring
						.skill-level
							.level{:style => "width: 65%"} Hibernate
						.skill-level
							.level{:style => "width: 80%"} Servlets/JSP
						.skill-level					
							.level{:style => "width: 70%"} Git/SVN/Perforce
						.skill-level
							.level{:style => "width: 65%"} MySQL
						.skill-level
							.level{:style => "width: 90%"} Eclipse						
						.skill-level
							.level{:style => "width: 85%"} Unix/Mac/Windows						
					.col-md-6
						%h4 Frontend Skills
						.skill-level
							.level{:style => "width: 55%"} Ruby on Rails
						.skill-level
							.level{:style => "width: 85%"} HTML5
						.skill-level
							.level{:style => "width: 90%"} CSS3
						.skill-level					
							.level{:style => "width: 75%"} JavaScript						
						.skill-level
							.level{:style => "width: 75%"} JQuery								
						.skill-level
							.level{:style => "width: 90%"} Twitter Bootstrap
						.skill-level
							.level{:style => "width: 75%"} LESS/SASS/SCSS
						.skill-level
							.level{:style => "width: 65%"} CoffeeScript
						.skill-level
							.level{:style => "width: 90%"} HAML

			.container
				.row
					.col-md-12
						%h4 Employment Timeline
				.row
					.col-md-8
					.col-md-2{:style => "text-align: center; background-color: #525D63; color: #eee"} 
						%p Siemens
				.row
					.col-md-6
					.col-md-2{:style => "text-align: center; background-color: #525D63; color: #eee"} 
						%p Itaas Inc
				.row
					.col-md-6{:style => "text-align: center; background-color: #525D63; color: #eee"} 
						%p DELL
				.row{:style => "height: 50px; border-top: 1px solid #eee; border-bottom: 1px solid #eee; line-height: 50px; text-align: center;"}
					.col-md-2
						%p 2005
					.col-md-2
						%p 2007
					.col-md-2
						%p 2009
					.col-md-2
						%p 2011
					.col-md-2
						%p 2013
					.col-md-2
						%p 2015																														
			.container	
				.row
					.col-md-6
						%h4 Awards
						.awardTitle IGIT University of Indarprastha
						.details Won second prize in AutoCad design in a competition held at IGIT, all the enegineering colleges of Delhi participated.

					.col-md-6
						%h4 Interests
						%ul
							%li Raspberry Pi projects
							%li The Big Bang Theory Fan						
							%li Fine dining and gadget collector
							%li Travel enthusiast
			.container
				.row
					.col-md-12
						%h4 Portfolio
				.row
					.col-md-12
						%ul.nav.nav-pills
							%li
								%a All
							%li
								%a Graphics
							%li
								%a Web
				.row
					.col-md-4
						%img.img-rounded
					.col-md-4
						%img.img-rounded
					.col-md-4
						%img.img-rounded

			.container
				.row
					.col-md-12
						%h4 Contact
						%form{:role => "form"}
							.row
								.col-md-6
									%input.form-control{:type => "text", :placeholder => "First Name"}
								.col-md-6
									%input.form-control{:type => "text", :placeholder => "Last Name"}		
							.row
								.col-md-12
									%input.form-control{:type => "email", :placeholder => "Email Address"}											
							.row
								.col-md-6
									%input.form-control{:type => "text", :placeholder => "Company Name"}
								.col-md-6
									%input.form-control{:type => "text", :placeholder => "Telephone Number"}	
							.row
								.col-md-12
									%textarea.form-control{:rows => 4}	