%html
	%head
		%title Sumit Kapoor
		%link{:rel => "stylesheet", :href => "bootstrap/css/bootstrap.min.css"}
		%link{:rel => "stylesheet", :href => "styles/index.css"}
		%link{:rel => "stylesheet", :href => "font-awesome/css/font-awesome.min.css"}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}


	%body
		.body-class
			.container{:style => "background-color: #DFE4E8; border-top: 8px solid #396693; box-shadow: 0px 1px 0px #BCC0C4;"}
				.row
					.col-md-6
						%h1{:style => "color: #556; line-height: 2em;"} Sumit Kapoor
					.col-md-6{:style => "text-align: right; padding-top: 10px;"}
						%span{:style => "margin-top: 20px;"} Download my resume
						%span.fa.fa-cloud-download{:style => "font-size: 1.7em; color: #525D63"}
				.row{:style => "margin-bottom: 40px;"}
					.col-md-7{:style => "border-right: 1px solid #d1d1d1; box-shadow: 1px 0px 0px #fff;"}
						.row
							.col-md-3
								%img{:src => "images/profile.jpg", :width => "120px", :height => "120px", :style => "border-radius: 5px"}
							.col-md-9
								%h3{:style => "color: #707070; margin-bottom: 10px; margin-top: 0px; padding: 0px; font-size: 1.3em"} Full-Stack Developer
								%p{:style => "color: #757575; font-size: 0.85em; text-shadow: 0px 1px 1px #fff;"}
									An application developer, web developer, and front-end developer. An enthusiast of continuous integration, test first, and agile environments. A web standard and web accessibility advocate.
					.col-md-5
						.row.contact
							.col-md-1
							.col-md-11
								%p.fa.fa-phone +91 9871176670
						.row.contact
							.col-md-1
							.col-md-11
								%p.fa.fa-envelope-o sumit.india@gmail.com
								
			.container
				%h4 Work Experience
				.row
					.col-md-6.jobCard
						.row
							.col-md-6
								%h5 Agnity
							.col-md-6
								.date March 2013 - Present
						.row
							.col-md-12
								.job-title Technical Lead
								%p
									In Agnity I have been working on the web technologies. I completed two projects in JavaScript and HTML5. Updated AppSuite web mail application, added chatting, voice call and video call capabilities into existing application. Currently I am working for MobileCauses, Working as an individual contributor on a web application which facilitates NGOs to get donations from their donors. The application is written in  Ruby on Rails technology.
								.job-role Role
								%ul
									%li Involved in coding of the modules as individual contributor and code review of other team members.
									%li Understanding high level design documents (Functional Specs and Technical Specs).
									%li Impact analysis on the Change-Requests (CR (s)).
									%li Mentoring and leading a module with peers and making sure that all of them follow best coding practices.
									%li Gathering and understanding requirements and converting them to technical specification.
									%li Create HLD and LLD from requirements and technical specs.
									%li Fixing of defects identified during testing.
									%li Application design and technology selection.
									%li Database modeling.
									%li Understanding the existing application and the domain.
									%li Developed new modules and changed the existing modules to accommodate new functionalities
									%li Enhanced the application for faster response and more stability.
									%li Fixed bugs and created detailed document on the scope of bug and reasons.
									%li Updated oracle stored procedures to accommodate new functionalities.
									%li Code Review Sessions also involve in peer code review.
									%li Knowledge sharing sessions.									

					.col-md-6.jobCard
						.row
							.col-md-6
								%h5 Seimens 
							.col-md-6
								.date Jul 2011 - Jan 2013
						.row
							.col-md-12
								.job-title Senior Java Developer
								%p
									Worked on company product - EnergyIP. I worked in customisation team who's responsibility was to customise the product as per customer needs. It was purely a backend product which is used by Electricity/Water distribution companies.
								.job-role Role
								%ul
									%li Analyze and implement user requirements/business needs as new and/or enhanced product functionality
									%li Determine operational feasibility by evaluating analysis, problem definition, requirements, solution development, and proposed solutions.
									%li Document and demonstrate solutions by developing documentation, flowcharts, layouts, diagrams, charts, code comments and clear code.
									%li Presenting ideas for system improvements, including cost proposals
									%li Accomplish engineering and organization mission by completing related results as needed.
									%li Design and develop software systems, using scientific analysis and mathematical models to predict and measure outcome and consequences of design.
									%li Develop and direct software system testing and validation procedures.
									%li Developing program according to customer/application need
									%li Supervise other programmers.
									%li Assist in packaging and delivery of finished software product to clients
									%li Communicate with technical and business leaders on business requirements, system related capabilities, programming progress, and enhancement status							

				.row
					.col-md-6.jobCard
						.row
							.col-md-6
								%h5 Itaas Inc. 
							.col-md-6
								.date Feb 2010 - Jul 2011
						.row
							.col-md-12
								.job-title Technical Lead
								%p
									Worked on front end applications. Developed applications for Set-top Boxes, iPad and Smart TVs. Developed customer facing applications for various devices through which customer could navigate TV program guides, Watch movies and other social site integrations.
								.job-role Role
								%ul
									%li Reviewing current systems
									%li Presenting ideas for system improvements, including cost proposals
									%li Working closely with analysts, designers and staff
									%li Producing detailed specifications and writing the program codes
									%li Testing the product in controlled, real situations before going live
									%li Making sure everyone is complying with the design and architecture, code review.
									%li Managing time lines and assigning tasks.
									%li Explore open source technologies suitable for the project to make it cost effective.
									%li Modify existing software to correct errors, to adapt it to new hardware or to upgrade interfaces and improve performance.
									%li Design and develop software systems, using scientific analysis and mathematical models to predict and measure outcome and consequences of design.
									%li Designed core application to serve requests from tablets e.g. iPad, Galaxy Tab etc.
									%li Develop and direct software system testing and validation procedures.
									%li Consult with customers and/or other departments on project status, proposals and technical issues such as software system design and maintenance.
									%li Designed the application in a way so that it can be accessed from any client.
									%li Educated other team members on design and new open source technologies.
									%li Debugging and troubleshooting of the application.
									%li Guiding team and providing them technical support and solution.																
					.col-md-6.jobCard
						.row
							.col-md-6
								%h5 Dell
							.col-md-6
								.date Jul 2005 - Nov 2009
						.row
							.col-md-12
								.job-title Seniour Software Engineer
								.job-role
								%p
									In Dell most of the time I worked for Bank of Ireland. I was part of the team who changed Banks website to a new refreshing website. I also worked with Houghton Mifflin Harcourt client where I worked on front end of the application.
								.job-role Role
								%ul
									%li Involved in coding of the modules as individual contributor and code review of other team members.
									%li Understanding high level design documents (Functional Specs and Technical Specs).
									%li Impact analysis on the Change-Requests (CR (s)).
									%li Mentoring and leading a module with peers and making sure that all of them follow best coding practices.
									%li Gathering and understanding requirements and converting them to technical specification.
									%li Create HLD and LLD from requirements and technical specs.
									%li Fixing of defects identified during testing.
									%li Application design and technology selection.
									%li Database modeling.
									%li Understanding the existing application and the domain.
									%li Developed new modules and changed the existing modules to accommodate new functionalities
									%li Enhanced the application for faster response and more stability.
									%li Fixed bugs and created detailed document on the scope of bug and reasons.
									%li Updated oracle stored procedures to accommodate new functionalities.
									%li Code Review Sessions also involve in peer code review.
									%li Knowledge sharing sessions.


			.container{:style => "margin-top: 40px"}
				.row
					.col-md-6
						%h4 Backend Skills
						.skill-level
							.level{:style => "width: 90%"} Core Java
						.skill-level
							.level{:style => "width: 90%"} Multithreading
						.skill-level
							.level{:style => "width: 70%"} Spring
						.skill-level
							.level{:style => "width: 65%"} Hibernate
						.skill-level
							.level{:style => "width: 80%"} Servlets/JSP
						.skill-level					
							.level{:style => "width: 70%"} Git/SVN/Perforce
						.skill-level
							.level{:style => "width: 65%"} MySQL
						.skill-level
							.level{:style => "width: 90%"} Eclipse						
						.skill-level
							.level{:style => "width: 85%"} Unix/Mac/Windows						
					.col-md-6
						%h4 Frontend Skills
						.skill-level
							.level{:style => "width: 55%"} Ruby on Rails
						.skill-level
							.level{:style => "width: 85%"} HTML5
						.skill-level
							.level{:style => "width: 90%"} CSS3
						.skill-level					
							.level{:style => "width: 75%"} JavaScript						
						.skill-level
							.level{:style => "width: 75%"} JQuery								
						.skill-level
							.level{:style => "width: 90%"} Twitter Bootstrap
						.skill-level
							.level{:style => "width: 75%"} LESS/SASS/SCSS
						.skill-level
							.level{:style => "width: 65%"} CoffeeScript
						.skill-level
							.level{:style => "width: 90%"} HAML

			.container	
				.row
					.col-md-6
						%h4 Awards
						.awardTitle IGIT University of Indarprastha
						.details Won second prize in AutoCad design in a competition held at IGIT, all the enegineering colleges of Delhi participated.

					.col-md-6
						%h4 Interests
						%ul
							%li Raspberry Pi projects
							%li The Big Bang Theory Fan						
							%li Fine dining and gadget collector
							%li Travel enthusiast
			.container{:style => "background-color: #DFE4E8; border-top: 8px solid #396693; box-shadow: 0px 1px 0px #BCC0C4;"}
				.row
					.col-md-12
